@import "../../../variable.module";

.channel_wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 20px;
  width: 520px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  transition: 0.5s;

  .channel_main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    background-color: none;

    .left {
      flex: 1;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      .enter_icon {
        font-size: 2rem;
      }
    }
  }

  .bar {
    height: 5px;
  }

  &:hover {
    box-shadow: inset 520px 0 0 0 black;
    color: white;
  }
}
