@import "../../../variable.module";

.scene_container {
  position: absolute;
  top: -200vh;
  width: 1720px;
  height: 88%;

  &.active {
    animation: scene-active 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  }

  &.inactive {
    animation: scene-inactive 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@keyframes scene-active {
  0% {
    top: -200vh;
  }
  100% {
    top: 6%;
  }
}

@keyframes scene-inactive {
  0% {
    top: 0px;
  }
  100% {
    top: -200vh;
  }
}
