@import "../../../../../variable.module";

/*left */

.wating_left_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.roominfo {
  position: relative;
  width: $game-roominfo-width;
  height: $game-roominfo-height;
  border: $game-border-color $game-border-size solid;
  border-radius: $game-border-radius;
  padding: $game-roominfo-padding;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $game-roominfo-gap;
  .room_title {
    display: flex;
    justify-content: center;
    padding: $game-roominfo-padding;
    min-width: $game-roominfo-min-width;
    max-height: $game-roominfo-max-height;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
  }

  .room_condition {
    display: flex;
    justify-content: center;
    padding: $game-roominfo-padding;
    min-width: $game-roominfo-min-width;
    max-height: $game-roominfo-max-height;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
  }
  .room_time {
    display: flex;
    justify-content: center;
    padding: $game-roominfo-padding;
    min-width: $game-roominfo-min-width;
    max-height: $game-roominfo-max-height;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
  }
  .wating_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
    .ready_button {
      background-color: $game-wating-color;
      border-right: $game-border-color $game-border-size solid;
      margin: 5px;
      padding: 18px 44px;
    }
    .exit_button {
      background-color: $game-wating-color;
      margin: 5px;
      padding: 18px 37px;
    }
  }
}

.userinfo {
  display: grid;
  padding: $game-roominfo-padding;
  border: $game-border-color $game-border-size solid;
  border-radius: $game-border-radius;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 0.7fr 1fr;
  grid-row-gap: 10px;
  align-items: center;
  .user_profile {
    grid-row: 1 / span 2;
    justify-self: center;
    width: 85px;
  }
  .user_name {
    grid-row: 2;
    justify-self: center;
  }

  .user_level {
    grid-row: 1;
    justify-self: center;
  }
  // lobbyScene의 경험치바와 똑같이
  .expbar {
    position: relative;
    z-index: 0;
    grid-column: 1 / span 2;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    .game_expFillColor {
      position: absolute;
      z-index: 1;
      left: 2px; // 경험치 %만 조절. 임시로 테스트용으로 40%만
      width: calc(40% - 3px);
      height: 89%;
      background-color: green;
    }
    .game_exp {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 50px;
      border: 3px solid black;
    }
  }
}

/*right*/
.wating_right_container {
  display: flex;
  border: $game-border-color $game-border-size solid;
  border-radius: $game-border-radius;
  padding: $game-roominfo-padding;
  flex-direction: column;
  gap: $game-roominfo-gap;
  grid-template-rows: 8fr 2fr;
  .wating_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    .wating_user_container {
      display: grid;
      height: 130px;
      border: $game-border-color $game-border-size solid;
      border-radius: $game-border-radius;
      padding: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: flex-end;
      .user_level {
        justify-self: center;
        grid-row: 3;
        grid-column: 1;
      }
      .user_profile {
        justify-self: center;
        grid-row: 1 / span 2;
      }
      .user_name {
        display: flex;
        justify-content: center;
        grid-row: 3;
        grid-column: 2;
      }
      .user_title {
        display: flex;
        justify-content: space-around;
        grid-row: 2;
        grid-column: 2;
      }
      .user_onready {
        display: flex;
        justify-content: center;
        grid-row: 3;
        grid-column: 3;
        color: coral;
      }
      .user_notready {
        display: none;
      }
    }
  }
  .room_owner {
    position: absolute;
    left: 837px;
    top: 73px;
  }

  .wating_chatting {
    display: grid;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
    height: 158px;
    .game_wating_chatting__body {
      display: grid;
      grid-template-rows: 5.62fr 1.17fr;
      background-color: $game-wating-color;
      border-radius: 20px;

      .game_wating_chatting__chattingScreen {
        padding: 18px;
        height: 116px;
        font-weight: 100;
        border-bottom: 2px solid black;
        overflow: auto;

        .game_wating_chatting_chat {
          display: grid;
          grid-template-columns: 4fr 7fr 2.5fr;
          padding-bottom: 8px;
          .game_wating_chatting_chatter {
            padding-left: 8px;
          }

          .game_wating_chatting_chatMessage {
          }

          .game_wating_chatting_chatTime {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .game_wating_chatting__chattingBar {
        display: grid;
        grid-template-columns: 2fr 12fr 1.5fr;
        height: 20px;

        .game_wating_chatting__chattingBar__mode {
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 2px solid black;
        }

        .game_wating_chatting__chattingBar__chatContainer {
          display: flex;
          justify-content: center;
          align-items: center;

          .game_wating_chatting__chattingBar__chat {
            padding-left: 12px;
            width: 100%;
            height: 14px;
            border: unset;
            resize: none;
            font-family: "NanumSquareAceb";
            background-color: $game-wating-color;

            &:focus {
              outline: unset;
            }
          }
        }

        .game_wating_chatting__chattingBar__send {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 2px solid black;
        }
      }
    }
  }
}
