.channel_side_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .channel_container {
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;

    & > span {
      font-size: 3rem;
      font-weight: 700;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .channe_list_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding: 1rem 3rem;
    }
  }
}
