@import "../../../../../variable.module";

.channel_side {
  flex: 2;
  height: 100%;
  background-color: bisque;
  border-radius: 20px;
  position: relative;

  .channel_main {
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      border-bottom: 1px solid black;
      h2 {
        margin: 20px;
        margin-left: 52px;
        font-size: 2rem;
      }
    }

    .channels {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 30px;
    }
  }

  .modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    height: 50%;

    .glass_panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 30px;
      height: 100%;
      border-radius: 20px;
      border: 2px solid white;
      box-shadow: 5px 5px 5px 5px lightgray;

      // glass
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      & > span {
        font-size: 2.5rem;
        color: $accent_color;
        font-weight: 700;
      }
    }
  }
}

.yet {
  filter: blur(6px);
  pointer-events: none;
}
