@import "../../../../../../variable.module";

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }

  .title {
    flex: 1;
    & > h2 {
      font-size: 4rem;
      font-weight: 700;
    }
  }

  .form {
    position: relative;
    flex: 3;
    border-top: 2px solid gray;
    z-index: 1;
    
    & > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 14px;
      width: 100%;

      & > .input_wrapper {
        width: 80%;
        height: 60px;
        position: relative;
        & > label {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.875rem;
          color: gray;
        }

        & > input {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          padding: 0 20px;
          font-size: 1.875rem;
          border: none;
          outline: 2px solid gray;

          &:focus {
            outline: 2px solid $accent-color;
          }

          &:not(:placeholder-shown) {
            & + label {
              font-size: 0.875rem;
              top: 0px;
              transition: all 0.3s;
              color: black;
              background-color: white;
            }
          }
        }

        & > .visi_icon {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }

      & > button {
        width: 80%;
        height: 60px;
        border-radius: 12px;
        font-size: 2rem;
        font-weight: 700;
        background-color: white;
        border: none;
        outline: solid black;
        margin: 16px 0;

        &:hover {
          background-color: $accent-color;
          color: white;
          outline: solid $accent-color;
          cursor: pointer;
        }
      }

      .remember {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 80%;
        font-size: 1.25rem;

        & > div {
          display: flex;
          gap: 8px;

          & > input {
            scale: 1.5;
          }
        }
      }

      .sub {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 70%;
        font-size: 1.375rem;

        & > span {
          &:hover {
            color: $accent-color;
            cursor: pointer;
          }
        }
      }
    }
  }

  .social {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
    gap: 20px;

    & > button {
      width: 80%;
      height: 60px;
      border-radius: 12px;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
