@import "../../../../variable.module";

.dialog_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $container-gap;
  width: $popup-width-dialog;
  height: $popup-height-dialog;
  border-radius: $container-radius;
  background-color: $container-background-color;
  padding: $container-padding;

  .element_wrapper {
    flex: 1;
    display: flex;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    overflow-y: auto;
    color: black;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2f3542;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $button-wrapper-gap;

    .popup_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $button-padding;
      min-width: $button-min-width;
      font-size: $button-font-size;
      font-weight: $button-font-weight;
      border: 1px solid black;
      border-radius: $button-radius;
      outline: none;

      &:hover {
        background-color: $button-hover-background-color;
        animation: fade 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        cursor: pointer;
      }

      &:active {
        background-color: $button-active-background-color;
      }
    }
  }
}

@keyframes fade {
  0% {
    box-shadow: 0px 0px;
  }
  100% {
    box-shadow: 2px 2px;
  }
}
