@import "../../../../variable.module";

.lobby_scene_container {
  $linear-start: hsla(245, 100%, 97%, 0.98);
  $linear-1: hsla(228, 88%, 97%, 0.96);
  $linear-2: hsla(182, 75%, 97%, 0.93);
  $linear-3: hsla(0, 65%, 91%, 0.90);
  $linear-4: hsla(82, 46%, 91%, 0.84);

  background: linear-gradient(to bottom right, $linear-start, $linear-1 10%, $linear-2 40%, $linear-3 70%, $linear-4 100%);
  color: $lobby-font-color;
  height: 100%;

  // Blueprinted
  padding: 32px 92px 60px 92px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 56px;

  border: 3px solid hsl(0, 0%, 33%);
  border-radius: 12px;
  box-shadow: 1px 1px 2px 1px black;

  .lobby_scene_components {
    border: 2px solid black;
    border-radius: 16px;
  }

  .lobby_scene_left_container {
    display: grid;
    gap: 28px;
    grid-template-rows: 7fr 3fr;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1;

    .lobby_scene_onlineUsersContainer {
      display: grid;
      grid-template-rows: 9fr 1fr;
      box-shadow: -1px -1px 4px 0px black;

      .lobby_scene_onlineUsers {
        padding: 20px;
        height: 394px;
        overflow: auto;
        border-bottom: 3px solid black;

        .lobby_scene_onlineUser {
          display: flex;
          justify-content: space-between;
          padding: 0px 24px 12px 10px;

          .onlineUser__name {
          }

          .onlineUser__level {
            width: 51px;
          }
        }
      }

      .lobby_scene_onlineCount {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .lobby_scene_myInfos {
      padding: 40px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      box-shadow: -1px 1px 4px black;

      .lobby_scene_myInfos__top {
        position: relative;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 32px;

        .lobby_scene_myInfos__character {
          position: absolute;
          top: -21px;
          width: 64px;
          height: 64px;
        }

        .lobby_scene_myInfos__infoContainer {
          position: relative;
          left: 30%;

          .lobby_scene_myInfos__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .lobby_scene_myInfos__bottom {
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .lobby_scene_myInfos__expFillColor {
          position: absolute;
          z-index: 1;
          left: 3px;
          height: 87%;
          background-color: green;
        }

        .lobby_scene_myInfos__exp {
          position: relative;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 48px;
          border: 3px solid black;
        }
      }
    }
  }

  .lobby_scene_right_container {
    display: grid;
    gap: 28px;
    grid-template-rows: 7fr 3fr;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1;

    .lobby_scene_right_top_container {
      .lobby_scene_rooms {
        box-shadow: 0px 0px 10px hsl(212, 80%, 80%);
        padding: 30px;
        display: grid;
        height: 441px;
        overflow: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 24px;

        .lobby_scene_room {
          padding: 12px;
          height: 112px;
          border: 2px solid black;
          border-radius: 16px;
          background: rgba(255, 255, 255, 0.4);

          display: grid;
          gap: 8px;
          grid-template-columns: 2fr 8fr;

          .room__number {
            display: flex;
            align-items: center;
            font-weight: 700;
          }

          .room__body {
            display: grid;
            grid-template-columns: 8fr 2fr;

            .room__etcs {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
            }

            .room__entries {
              display: flex;
              gap: 2px;
              flex-direction: column;
              align-items: center;
            }

            .room__info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 2px;
              font-weight: 500;
            }

            .room__title {
              padding-bottom: 10px;
            }

            .room__entries {
              font-weight: 300;
            }

            .room__is_private {
            }
          }
        }
      }
    }

    .lobby_scene_right_bottom_container {
      display: grid;
      gap: 32px;
      grid-template-columns: 3fr 2fr;
      opacity: 0.99;

      .lobby_scene_chatting {
        position: relative;

        .lobby_scene_chatting__title {
          position: absolute;
          top: -28px;
          left: 10px;
          z-index: -1;
          width: 120px;
          height: 5rem;
          border: 2px solid black;
          border-radius: 16px;
          text-align: center;
          padding-top: 4px;
          background: cyan;
        }

        .lobby_scene_chatting__body {
          display: grid;
          grid-template-rows: 5.62fr 1.17fr;
          background-color: antiquewhite;
          border-radius: 14px;

          .modal_container {
            position: absolute;
            top: 48.9%;
            left: 49.8%;
            translate: -50% -50%;
            width: 100%;
            height: 100%;

            .glass_panel {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;
              padding: 30px;
              height: 100%;
              border-radius: 14px;
              border: 2px solid white;
              box-shadow: 5px 5px 5px 5px lightgray;

              // glass
              background: rgba(255, 255, 255, 0.5);
              backdrop-filter: blur(6px);
              -webkit-backdrop-filter: blur(6px);

              & > span {
                font-size: 1rem;
                color: $accent_color;
                font-weight: 700;
              }
            }
          }

          .lobby_scene_chatting__chattingScreen {
            padding: 10px;
            height: 153px;
            font-weight: 100;
            border-bottom: 2px solid black;
            overflow: auto;

            .lobby_scene_chatting__chat {
              display: grid;
              grid-template-columns: 4fr 7fr 2.5fr;
              padding-bottom: 8px;

              .lobby_scene_chatting__chatter {
                padding-left: 8px;
              }

              .lobby_scene_chatting__chatMessage {
              }

              .lobby_scene_chatting__chatTime {
                display: flex;
                justify-content: flex-end;
              }
            }
          }

          .lobby_scene_chatting__chattingBar {
            display: grid;
            grid-template-columns: 2fr 12fr 1.5fr;
            height: 32px;

            .lobby_scene_chatting__chattingBar__mode {
              display: flex;
              justify-content: center;
              align-items: center;
              border-right: 2px solid black;
            }

            .lobby_scene_chatting__chattingBar__chatContainer {
              display: flex;
              justify-content: center;
              align-items: center;

              .lobby_scene_chatting__chattingBar__chat {
                padding-left: 12px;
                width: 100%;
                height: 14px;
                border: unset;
                resize: none;
                font-family: "NanumSquareAceb";
                background-color: $lobby-chatting-bg-color;

                &:focus {
                  outline: unset;
                }
              }
            }

            .lobby_scene_chatting__chattingBar__send {
              display: flex;
              justify-content: center;
              align-items: center;
              border-left: 2px solid black;
            }
          }
        }
      }

      .lobby_scene_navs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        box-shadow: 1px 1px 4px black;
        background: white;
        opacity: 0.9;

        > * {
          padding: 12px;
          display: flex;
          position: relative;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          font-weight: 800;

          span {
            position: relative;
            z-index: 2;
          }
        }

        > *::before {
          content: "";
          position: absolute;
          width: 150%;
          height: 200%;
          opacity: 0.3;
          z-index: 1;
          background: url(../../../../../Assets/Images/Knutu_64x64_without_bg.png);
        }

        .navs__makeRoom {
          background-color: hsla(210, 70%, 50%, 0.12);
          border-right: 1px solid black;
          border-bottom: 1px solid black;

          &::before {
            transform: rotate(30deg);
          }
        }

        .navs__quickSearch {
          background-color: hsla(170, 50%, 50%, 0.12);
          border-left: 1px solid black;
          border-bottom: 1px solid black;

          &::before {
            transform: rotate(300deg);
          }
        }

        .navs__friend {
          background-color: hsla(55, 85%, 60%, 0.12);
          border-top: 1px solid black;
          border-right: 1px solid black;

          &::before {
            transform: rotate(120deg);
          }
        }

        .navs__shop {
          background-color: hsla(275, 100%, 55%, 0.12);
          border-top: 1px solid black;
          border-left: 1px solid black;

          &::before {
            transform: rotate(210deg);
          }
        }
      }
    }
  }

  .lobby_scene_watermark {
    position: absolute;
    font-size: 5rem;
    text-transform: uppercase;
    right: -2rem;
    bottom: 4rem;
    transform: rotateZ(-45deg);
    opacity: 0.1;
    z-index: 0;
  }
}
