@import "../../../../variable.module";

.quickSearchRoom {
    border: 2px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    color: black;

    .title {
        margin: 5px;
    }

    .main {
        margin: 10px 20px;
    
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 16px;
          overflow-y: auto;
          font-size: 1.75rem;
        }
        
        .btn_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            & > button {
            padding: 8px 20px;
            border-radius: 10px;
            border: 1px solid black;
            cursor: pointer;
            font-size: 1.25rem;
            font-weight: bolder;

            &:hover {
                background-color: #ddd;
            }
            }
        }
    }
}