@import "../../../../../../variable.module";

.login_signup_button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  // Common
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      cursor: pointer;
    }
  }

  // Important
  .login_btn_wrapper {
    flex: 3;

    .login_btn {
      font-size: 3.5rem;
      font-weight: 700;
      color: $accent_color;
    }
  }
  .signup_btn_wrapper {
    flex: 1;

    .signup_btn {
      font-size: 1.5rem;
    }
  }
}

hr {
  width: 100%;
}
