.App {
  text-align: center;
  resize: none;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  resize: none;
}

main {

}

footer {
  
}