:root {
  --font-color: white;
  --screen-width: 1920px;
  --screen-height: 1100px;
  --body-background-image: url(/src/Assets/gyeongbok-palace_for_bg_1920-1079.jpg)
}

body {
  color: var(--font-color);
  background-image: var(--body-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

.App {
  width: var(--screen-width);
  height: var(--screen-height);
  overflow: hidden;
}

header {
  background-color: #282c34;
  min-height: 5vh;
  max-height: 5vh;
}

main {
  height: calc(var(--screen-height) - 10vh);
}

/* Scenes */
main > * {
  position: absolute;
  width: 100%;
  height: calc(100% - 10vh + 5px);
}

footer {
  background-color: #183a86;
  min-height: 5vh;
}