body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#portal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#portal.active {
  display: block;
}

/* Scenes */
.scene {
  position: absolute;
  top: -200vh;
  width: 60%;
  height: 100%;
}

.scene.active {
  animation: scene-active 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.scene.inactive {
  animation: scene-inactive 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes scene-active {
  0% {
    top: -200vh;
  }
  100% {
    top: 0px;
  }
}

@keyframes scene-inactive {
  0% {
    top: 0px;
  }
  100% {
    top: -200vh;
  }
}
