@import "../../../variable.module";


.appear{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: appear 2s ease-in-out;
}
.disappear{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: disappear 2s ease-in-out forwards;
}

// rotate(45deg)
@keyframes appear {
  from {
    transform:  translateX(-120%) translateY(-120%);
  }
  to {
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes disappear {
  from {
    transform:  translateX(0%) translateY(0%);
  }
  to {
    transform: translateX(120%) translateY(120%);
  }
}

.visiable{
  opacity: 1;
}
.unvisiable{
  opacity: 0;
}

.fall_intro{
  position: absolute;
  width: $fall-colWidth * 2;
  height: $fall-rowHeight * 2;
  border-radius: 50%;
  transform: rotate(45deg);
  border: 1px solid rgb(162, 103, 103);
  
    @for $i from 1 through $fall-cols * $fall-rows {
      &:nth-of-type(#{$i}) {
        $row: ceil(calc($i / $fall-cols));
        top: ($fall-rowHeight * ($row - 1)) - 30px;
        left: ($fall-colWidth * (($i - 1) % $fall-cols)) - 80px;
        background-color: rgb(222, 255, 255);
        
        @if ($row % 2 == 0) {
          background-color: rgb(232, 255, 255);
        }
        @if ($row % 4 == 0) {
          background-color: rgb(216, 245, 253);
        } 
      }
    }
}

.fall_lobby{
  position: absolute;
  width: $fall-colWidth * 2;
  height: $fall-rowHeight * 2;
  border-radius: 50%;
  transform: rotate(45deg);
  border: 1px solid rgb(162, 103, 103);
  
    @for $i from 1 through $fall-cols * $fall-rows {
      &:nth-of-type(#{$i}) {
        $row: ceil(calc($i / $fall-cols));
        top: ($fall-rowHeight * ($row - 1)) - 30px;
        left: ($fall-colWidth * (($i - 1) % $fall-cols)) - 80px;
        background-color: rgb(222, 222, 255);
        @if ($row % 2 == 0) {
          background-color: rgb(232, 232, 255);
        }
        @if ($row % 4 == 0) {
          background-color: rgb(227, 227, 255);
        } 
      }
    }
}

.fall_game{
  position: absolute;
  width: $fall-colWidth * 2;
  height: $fall-rowHeight * 2;
  border-radius: 50%;
  transform: rotate(45deg);
  border: 1px solid rgb(162, 103, 103);
  
    @for $i from 1 through $fall-cols * $fall-rows {
      &:nth-of-type(#{$i}) {
        $row: ceil(calc($i / $fall-cols));
        top: ($fall-rowHeight * ($row - 1)) - 30px;
        left: ($fall-colWidth * (($i - 1) % $fall-cols)) - 80px;
        background-color: #BFBFC3;
        @if ($row % 2 == 0) {
          background-color: #D0D1D2;
        }
        @if ($row % 4 == 0) {
          background-color: #D9DADB;
        } 
      }
    }
}

