@import "../../variable.css";

.one_button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--container-gap);
  width: var(--popup-width);
  height: var(--popup-height);
  border-radius: var(--container-radius);
  background-color: var(--container-background-color);
  padding: var(--container-padding);
}

.text_wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border: 1px solid black;
  color: var(--text-color);
  padding: var(--text-wrapper-padding);
}

button {
  padding: var(--button-padding);
  min-width: var(--button-min-width);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  border: 1px solid black;
  border-radius: var(--button-radius);
  outline: none;
}

button:hover {
  background-color: var(--button-hover-background-color);
  animation: fade 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  cursor: pointer;
}

button:active {
  background-color: var(--button-active-background-color);
}

@keyframes fade {
  0% {
    box-shadow: 0px 0px;
  }
  100% {
    box-shadow: 2px 2px;
  }
}
