@import "../../variable.module";

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $header-footer-bg-color;
  color: $header-footer-color;
  padding: 0 $header-footer-gutter-x;
  min-height: $footer-height;
  font-size: $footer-font-size;
  z-index: 2;
  & > button:hover {
    cursor: pointer;
  }

  .testDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 80px;
    background: grey;

    & > span {
      color: white;
      font-size: 2rem;
      margin-left: 5px;
      margin-right: 5px;

      &:first-of-type {
        margin-left: unset;
      }

      &:last-of-type {
        margin-right: unset;
      }
    }
  }
}
