@import "../../../../../variable.module";

/*left*/
.gamer_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px;
  gap: 20px;

  .gamer {
    display: grid;
    position: relative;
    width: 221px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    .name {
      word-break: break-all;
      grid-row: 3;
      grid-column: 2;
      z-index: 1;
    }

    .profile {
      grid-row: 2 / span 2;
      grid-column: 1;
      z-index: 1;
    }

    .level {
      padding-top: 16px;
      grid-row: 2;
      grid-column: 2;
      z-index: 1;
    }

    .score {
      font-size: 40px;
      grid-row: 1;
      grid-column: 1 / span 2;
      z-index: 1;
    }
    .cover {
      position: absolute;
      top: 191px;
      width: 0px;
      height: $game-border-size;
      background-color: black;
      transform-origin: center;
      animation: coverAnimation 3s ease-in-out;
      z-index: 1;
    }
  }
}
  .my_turn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .my_turn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0px;
    height: 3px;
    animation: turnAnimation 3s ease-in-out forwards;
    background-color: aqua;
    transform-origin: center;
  }
  
  .my_turn::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #593f96;
  }
  
  .your_turn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .your_turn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0px;
    height: 3px;
    animation: turnAnimationReverse 3s ease-in-out forwards;
    background-color: aqua;
    transform-origin: center;
  }
  .first_mount.your_turn::before {
    visibility: hidden;
  }
  
  .your_turn::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #593f96;
  }

/*right*/
.gamming_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px;
  gap: 20px;

  .gameboard_container {
    height: 260px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;

    .questionboard {
      display: grid;
      grid-template-rows: 1fr 5fr;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      .board_suggestion {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 8px;
      }

      .board_question {
        display: flex;
        justify-content: center;
        width: 704px;
        height: 117px;
        padding: 30px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 48px;
      }

      .board_input_container {
        position: relative;
        top: 40px;
        width: 693px;
        height: 32px;
        z-index: 1;

        .board_input {
          width: 100%;
          height: 100%;
          background: inherit;
          border: none;
          outline: none;
          text-align: center;
          font-size: 32px;
          font-family: "NanumSquareAceb";
          color: hsl(0, 0%, 65%);
  
          &:focus {
            outline: none;
          }
        }

        .board_input_active {
          color: black;
        }
      }
    }

    .timer{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 693px;
      height: 48px;
      border: 2px solid black;
      padding: 12px;
    }

    .timeGauge {
      position: absolute;
      left: 0;
      height: 100%;
      background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.2));
      z-index: 0;
      transition: width .1s ease 0s;
    }

    .remainTurnTime {
      position: relative;
      padding-left: 12px;
      z-index: 2;
    }

    .remainRoundTime {
      position: relative;
      padding-right: 12px;
      z-index: 2;
    }
  }

  .gamming_chatting {
    display: grid;
    border: $game-border-color $game-border-size solid;
    border-radius: $game-border-radius;
    height: 360px;

    .game_gamming_chatting__body {
      display: grid;
      grid-template-rows: 5.62fr 1.17fr;
      border-radius: 20px;

      .game_gamming_chatting__chattingScreen {
        padding: 13px 18px 2px;
        height: 293px;
        font-weight: 100;
        border-bottom: 2px solid black;
        overflow: auto;

        .game_gamming_chatting_chat {
          display: grid;
          grid-template-columns: 4fr 7fr 2.5fr;
          padding-bottom: 8px;
          .game_gamming_chatting_chatter {
            padding-left: 8px;
          }

          .game_gamming_chatting_chatMessage {
          }

          .game_gamming_chatting_chatTime {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .game_gamming_chatting__chattingBar {
        display: grid;
        grid-template-columns: 12fr 1.5fr;
        height: 61px;
        
          .game_gamming_chatting__chattingBar__chat {
            padding-top: 22px;
            padding-left: 26px;
            width: 100%;
            height: 65%;
            border: unset;
            resize: none;
            font-family: "NanumSquareAceb";
            background: inherit;

            &:focus {
              outline: unset;
            }
          }
        
        .game_gamming_chatting__chattingBar__send {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 2px solid black;
        }
      }
    }
  }
}


/* keyframes */
@keyframes turnAnimation {
  0% {
    width: 0;
  }
  25% {
    width: $game-gamer-width;
    height: $game-border-size;
  }
  50% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
  75% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
  100% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
}

@keyframes coverAnimation{
  0% {
    width: 0px;
  }
  25% {
    width: 0px;
    height: $game-border-size;
  }
  50% {
    width: 221px;
    height: $game-border-size;
  }
  75% {
    width: 0px;
    height: $game-border-size;
  }
  100% {
    width: 0px;
    height: $game-border-size;
  }
}

@keyframes turnAnimationReverse {
  0% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
  25% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
  50% {
    width: $game-gamer-width;
    height: $game-gamer-height;
  }
  75% {
    width: $game-gamer-width;
    height: $game-border-size;
  }
  100% {
    width: 0;
  }
}
